<div class="row">
    <div class="col-12 col-md-6 bg-footer">
        <div class="text-white pt-5 px-5">
            <h3 class="mb-5 text-secondary">El herbario de la huerta</h3>
            <p class="text-secondary">Me descubrí un sitio en el poblado de comida sana y creativa, nada sosa… preparada con ingredientes locales y muy frescos ¿quién dijo que comer «sano» significaba comer «aburrido»? Eso lo tienen claro en Shanti, un nuevo restaurante, hermoso y relajado, cero hippie, lleno de detalles, luces, rincones y espacios que te llaman a la serenidad y al disfrute, al igual que su cocina!</p>
            <hr/>
            <div class="text-secondary">
                <p>Direccion: Cra. 25a #1a Sur 45, El Poblado, Medellín, El Poblado, Medellín, Antioquia</p>
                <p>Contacto: 3022729585</p>
                <ul>
                    <li>
                        <a href="https://es-la.facebook.com/places/Restaurante-en-Medellin/111841478834264/273819889375819/">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/hashtag/restaurantes">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 g-0 p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31731.651366441853!2d-75.58198670360481!3d6.203364312587665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428299a208b6f%3A0xdf22185e8e9c170d!2sEl%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1667063895803!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="100%"></iframe>
    </div>
</div>