.banner {
    background-image: url('../img/banner.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 22%;
    position: relative;
    z-index: 5;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .1;
    z-index: 0;
}

.menu {
    background-color: #136129;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.1);
}

.bg-footer {
    background-color: #21232A;
}